---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import FAQ from "../components/Faq.astro";
import Speakers from "../components/speakers.astro";
import Team from "../components/team.astro";
---

<Layout title="GDSC WoW Mangalore">
  <!-- Hero section -->
  <Hero />
  <div id="features">
    <Features />
  </div>
  <div id="speakers">
    <Speakers />
  </div>
  <div id="partners">
    <Team />
  </div>
  <!-- FAQs -->
  <!-- <FAQ /> -->
</Layout>
