---
import GDSC from "./logos/GDSC.astro";

interface Props {}

const {} = Astro.props;

export function chunk<T>(array: readonly T[], size: number): T[][] {
  if (size <= 0 || !Number.isInteger(size)) {
    throw new Error(
      `Expected size to be an integer greater than 0 but found ${size}`
    );
  }

  if (array.length === 0) {
    return [];
  }

  const ret = Array.from<T[]>({ length: Math.ceil(array.length / size) });
  let readIndex = 0;
  let writeIndex = 0;

  while (readIndex < array.length) {
    ret[writeIndex] = array.slice(readIndex, readIndex + size);

    writeIndex += 1;
    readIndex += size;
  }

  return ret;
}

const namesChunk = chunk(
  [
    "SJEC Vamanjoor",
    "SIT Valachil",
    "KLEIT Hubli",
    "PACE Nadupadav",
    "SCEM Adyar",
    "NMAMIT Deralakatte",
  ].sort((a, b) => a.localeCompare(b)),
  2
);
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-4xl font-semibold text-gray-800 text-center">Our Chapters</h2>
  <div
    class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5"
  >
    {
      namesChunk.map((names) => (
        <div class="flex flex-col lg:pl-64 mt-10">
          {names.map((name) => (
            <div class="items-center justify-center lg:size-52">
              <GDSC />
              <p class="pl-6 mt-4 text-sm font-semibold text-gray-800">{name}</p>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>
